body {
    font-family:nyt-franklin,helvetica,arial,sans-serif;
}

.list {
    display:flex;
    flex-wrap: wrap;
}

.bookCard {
    width:240px;
    height:450px;
    border-right:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}

.bookContent {
    padding-left: 10px;
}

.rank {
    color:lightgrey;
    font-size:25px;
    float:left;
}

.book-image {
    width:110px;
    height:170px;
    margin-right: auto;
    margin-left: auto;
    display:block;
}

.weeks {
    font-size:11px;
    margin-bottom:2px;
}

.title {
    font-size:16px;
    margin:0px;
    width:200px;
}

.author {
    font-family:400;
    margin-top:2px;
    font-size:13px;
}

.description {
    font-family:nyt-imperial,georgia,'times new roman',times,serif;
    font-weight:500;
    color:#333;
    margin-top: 4px;
    margin-bottom: 7px;
    width:220px;
    display:block;
}

.buyButton {
    background-color: #6288a5;
    border: 1px solid #326891;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    padding:5px;
    width:55px;
}