.list {
    display:flex;
    flex-wrap: wrap;
}

.bookCard {
    width:200px;
    height: 360px;
    border-right:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}

.book-image {
    width:75px;
    height:110px;
}